services:
    wordpress:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: wordpress
        user: 1000:1000
        ports:
            - 8080:80
        depends_on:
            - db
        volumes:
            - wordpress:/var/www/html
            - ./:/var/www/html/wp-content/themes/minomarkt
            - .wordpress/plugins/:/var/www/html/wp-content/plugins/
            - .wordpress/uploads/:/var/www/html/wp-content/uploads/
            - .wordpress/config/php-custom.ini:/usr/local/etc/php/conf.d/99-php-custom.ini
            - .wordpress/config/php-xdebug.ini:/usr/local/etc/php/conf.d/99-php-xdebug.ini
            - .wordpress/config/opcache-recommended.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
            - ./wp-config.php:/var/www/html/wp-config.php
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.wordpress.rule=Host(`minomarktnl.test`)'
            - 'traefik.http.routers.wordpress.entrypoints=web'
            - 'traefik.http.services.wordpress.loadbalancer.server.port=80'
        networks:
            - traefik_network

    db:
        image: mariadb
        container_name: db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wp_user
            MYSQL_PASSWORD: wp_pass
            MYSQL_RANDOM_ROOT_PASSWORD: '1'
        ports:
            - 3306:3306
        volumes:
            - db:/var/lib/mysql
        networks:
            - traefik_network

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin
        restart: unless-stopped
        depends_on:
            - db
        environment:
            PMA_HOST: db
            PMA_USER: wp_user
            PMA_PASSWORD: wp_pass
        ports:
            - 8081:80
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.phpmyadmin.rule=Host(`pma.minomarktnl.test`)'
            - 'traefik.http.routers.phpmyadmin.entrypoints=web'
            - 'traefik.http.services.phpmyadmin.loadbalancer.server.port=80'
        networks:
            - traefik_network

    traefik:
        image: traefik
        container_name: traefik
        ports:
            - '80:80'
            - '8082:8080'
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        command:
            - '--api.insecure=true'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=true'
            - '--entrypoints.web.address=:80'
        networks:
            - traefik_network

volumes:
    wordpress:
    db:

networks:
    traefik_network:
        name: traefik_network
