services:
    wordpress:
        image: wordpress
        user: 1000:1000
        ports:
            - 8080:80
        depends_on:
            - db
        environment:
            WORDPRESS_DB_HOST: db
            WORDPRESS_DB_USER: wp_user
            WORDPRESS_DB_PASSWORD: wp_pass
            WORDPRESS_DB_NAME: wordpress
            WORDPRESS_CONFIG_EXTRA: |
                define('WP_SITEURL', 'http://${WP_SITEURL}', true);
                define('WP_HOME', 'http://${WP_SITEURL}', true);
        volumes:
            - wordpress:/var/www/html
            - ./:/var/www/html/wp-content/themes/${THEME_NAME}
            - .wordpress/plugins/:/var/www/html/wp-content/plugins/
            - .wordpress/uploads/:/var/www/html/wp-content/uploads/
            - .wordpress/config/php-custom.ini:/usr/local/etc/php/conf.d/99-php-custom.ini
            - .wordpress/config/php-xdebug.ini:/usr/local/etc/php/conf.d/99-php-xdebug.ini
            - .wordpress/config/opcache-recommended.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.wordpress.rule=Host(`${WP_SITEURL}`)'
            - 'traefik.http.routers.wordpress.entrypoints=web'
            - 'traefik.http.services.wordpress.loadbalancer.server.port=80'

    db:
        image: mariadb
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wp_user
            MYSQL_PASSWORD: wp_pass
            MYSQL_RANDOM_ROOT_PASSWORD: '1'
        ports:
            - 3306:3306
        volumes:
            - db:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        restart: unless-stopped
        depends_on:
            - db
        environment:
            PMA_HOST: db
            PMA_USER: wp_user
            PMA_PASSWORD: wp_pass
        ports:
            - 8081:80
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.phpmyadmin.rule=Host(`pma.${WP_SITEURL}`)'
            - 'traefik.http.routers.phpmyadmin.entrypoints=web'
            - 'traefik.http.services.phpmyadmin.loadbalancer.server.port=80'

    traefik:
        image: traefik
        ports:
            - '80:80'
            - '8082:8080'
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        command:
            - '--api.insecure=true'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--entrypoints.web.address=:80'

volumes:
    wordpress:
    db:

networks:
    default:
        name: traefik_network
