parameters:
    level: 8
    paths:
        - .
    excludePaths:
        analyse:
            - vendor
            - node_modules
            - dist
    scanDirectories:
        - .wordpress/plugins
