.mino-content {
    font-size: var(--content-font-size);

    &__title {
        color: var(--color-black);
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -0.22px;
        line-height: 130%;
        margin-bottom: 16px;

        @include media-breakpoint-up(lg) {
            font-size: 30px;
            letter-spacing: -0.3px;
        }
    }

    &__button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 24px;

        @include media-breakpoint-up(lg) {
            gap: 10px;
            margin-top: 32px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    ol,
    ul {
        margin-bottom: 0;
        margin-top: 24px;

        li {
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            margin-bottom: 8px;

            @include media-breakpoint-up(lg) {
                font-size: 18px;
                margin-bottom: 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol {
        counter-reset: item;
        list-style-type: none;
        padding-left: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        li {
            display: flex;

            &::before {
                content: counter(item) '.';
                counter-increment: item;
                font-weight: 600;
                margin-right: 20px;
            }
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        li {
            display: inline-flex;

            &::before {
                content: '●';
                margin-right: 20px;
            }
        }
    }
}
