.mino-media {
    &__image-container {
        display: block;
        margin-bottom: 24px;
    }

    &__caption {
        font-size: 16px;
        line-height: 1.5;
    }

    &__embed-container {
        height: auto;
        margin-bottom: 24px;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        iframe,
        object,
        embed {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
