/**
* Fonts
*/

/* Manrope */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400 700;
    src:
        url('../fonts/manrope/Manrope.ttf') format('truetype-variations'),
        url('../fonts/manrope/Manrope.ttf') format('truetype');
}

/* Circular Std */
@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 300;
    src:
        url('../fonts/circular-std/circular-std-book.woff2') format('woff2'),
        url('../fonts/circular-std/circular-std-book.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 300;
    src:
        url('../fonts/circular-std/circular-std-book-italic.woff2')
            format('woff2'),
        url('../fonts/circular-std/circular-std-book-italic.woff')
            format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/circular-std/circular-std-medium.woff2') format('woff2'),
        url('../fonts/circular-std/circular-std-medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/circular-std/circular-std-bold.woff2') format('woff2'),
        url('../fonts/circular-std/circular-std-bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 700;
    src:
        url('../fonts/circular-std/circular-std-bold-italic.woff2')
            format('woff2'),
        url('../fonts/circular-std/circular-std-bold-italic.woff')
            format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 800;
    src:
        url('../fonts/circular-std/circular-std-black.woff2') format('woff2'),
        url('../fonts/circular-std/circular-std-black.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 800;
    src:
        url('../fonts/circular-std/circular-std-black-italic.woff2')
            format('woff2'),
        url('../fonts/circular-std/circular-std-black-italic.woff')
            format('woff');
}

$font-fallback:
    -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu,
    cantarell, 'Helvetica Neue', sans-serif;

$font-circular-std: 'Circular Std', $font-fallback;

$font-manrope: 'Manrope', $font-fallback;
