/**
 * Spacing
 */

.has-spacing-top {
    --spacing-top: 48px;

    margin-top: var(--spacing-top);

    @include media-breakpoint-up(lg) {
        --spacing-top: 88px;
    }
}

.has-spacing-bottom {
    --spacing-bottom: 48px;

    margin-bottom: var(--spacing-bottom);

    @include media-breakpoint-up(lg) {
        --spacing-bottom: 88px;
    }
}
