<section {{ cs('mino-divider', block_layout(blockLayout)) }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mino-divider__element"></div>
            </div>
        </div>
    </div>
</section>
