.mino-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__item {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 30px;
        justify-content: center;
        transition: var(--transition-default);
        width: 30px;

        @include media-breakpoint-up(lg) {
            height: 40px;
            width: 40px;
        }

        &:is(:hover) {
            background-color: var(--color-primary-500);
            color: var(--color-white);
        }

        &:is(:focus) {
            outline: 2px solid var(--color-primary-500);
        }
    }

    svg {
        height: 20px;
        width: 20px;
    }
}
