.site-footer {
    border-top: 1px solid var(--color-dark-50);
    color: var(--color-primary-950);
    margin-top: 40px;
    padding-bottom: 0;
    padding-top: 40px;

    @include media-breakpoint-up(lg) {
        padding-top: 56px;
    }

    &__logo-container {
        margin-bottom: 40px;
        padding-left: 16px;
        padding-right: 16px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 36px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    &__logo {
        height: 120px;
        max-width: 100%;
    }

    &__content {
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    &__content-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.75;
        margin-bottom: 0;
    }

    &__content-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        margin-top: 10px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 32px;
        }
    }

    &__content-form {
        margin-top: 16px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
        }

        /* stylelint-disable-next-line no-invalid-position-at-import-rule */
        @import '../components/forms/form-demo-request';
    }

    &__navigation {
        margin-bottom: 40px;
    }

    &__navigation-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.75;
        margin-bottom: 16px;

        @include media-breakpoint-down(lg) {
            cursor: pointer;
            margin-bottom: 6px;
        }
    }

    &__navigation-items {
        display: grid;
        gap: 16px;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    a:not(.btn) {
        --color-link: var(--color-black);
        --color-link-hover: var(--color-primary-500);

        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        text-decoration: none;
    }

    &__contact-content {
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        text-decoration: none;
    }

    &__contact-list {
        display: grid;
        gap: 12px;
        list-style: none;
        margin: 16px 0;
        padding: 0;
    }

    &__contact-item {
        align-items: flex-start;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        gap: 8px;
        line-height: 2;

        svg {
            color: var(--color-primary-500);
            flex: 0 0 20px;
            height: 18px;
            margin-top: 5px;
            width: 18px;
        }
    }

    &__contact-link {
        --color-link: var(--color-primary-950);
        --color-link-hover: var(--color-primary-500);
        align-items: flex-start;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        gap: 8px;
        line-height: 2;
        text-decoration: none;
        width: 100%;

        span {
            flex: 1;
        }
    }

    &__contact-button {
        margin-top: 20px;
        max-width: 400px;

        @include media-breakpoint-down(lg) {
            .btn {
                text-align: center;
            }
        }
    }

    &__socials {
        margin-top: 40px;

        @include media-breakpoint-up(lg) {
            margin-top: 28px;
        }
    }

    &__logos-container {
        padding-bottom: 40px;
        padding-top: 40px;

        @include media-breakpoint-up(lg) {
            padding-top: 20px;
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__logos-item {
        background-color: var(--color-primary-900);
        border-radius: 12px;
        height: 64px;
        max-width: 100%;
        object-fit: cover;
        width: 64px;

        @include media-breakpoint-up(lg) {
            height: 88px;
            width: 88px;
        }
    }
}

.page-micro {
    color: var(--color-primary-950);
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 40px;
    padding-top: 40px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 24px;
    }

    &__menu {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        @include media-breakpoint-up(lg) {
            align-items: center;
            flex-direction: row;
            gap: 44px;
        }
    }

    &__menu-link {
        --color-link: var(--color-primary-500);
        --color-link-hover: var(--color-primary-700);

        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        text-decoration: none;
    }

    &__menu-item {
        &:first-child {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 1.75;
            padding-top: 16px;
            position: relative;

            @include media-breakpoint-up(lg) {
                padding-right: 44px;
                padding-top: 0;

                &::after {
                    background-color: var(--color-dark-200);
                    content: '';
                    display: block;
                    height: 12px;
                    opacity: 0.3;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                }
            }
        }
    }
}
